<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<h1>User Registration</h1>
<form action="/users/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="role">Role:</label>
    <select id="role" name="role" required>
        <option th:each="role : ${roles}" th:value="${role.getRoleId()}" th:text="${role.getRoleName()}"></option>
    </select><br><br>

    <input type="submit" value="Register">
</form>
</body>
</html>
